body,html {
    background-color: rgb(44, 44, 44);
    /* height: 100%;
    width: 100%; */
    padding:0;
    margin:0;
}

.mainHeader {
    background-image: linear-gradient(black, gray);
    width: 100%;
    height: 600px;
    display: inline-block;
}

.headerText{
    display: inline-block;
    top: 40%;
    width: 100%;    
    position: relative;
}

h1 {
    color: white;
    text-align: center;
    overflow: hidden;
}

p, li, h2, a {
    font-family: verdana;
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}

#navBar {
    background-color: rgb(44, 44, 44);
    width: 100%;
    position: sticky;
    top: 0;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px; */
}

h1::after, h1::before {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

h1:before {
    right: 0.5em;
    margin-left: 0%;
}

h1:after {
    left: 0.5em;
    margin-right: 0%;
}

.pageContent {
    margin-left: 20%;
    margin-right: 20%;
    background-color: linear-gradient(black, gray);
}

.container {
    --border: 1px solid black;
    margin: 5% 5%;
}

.snippet {
    display: inline-block;
    margin: 20px 40px;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
}

.navList>li {
    display: inline-block;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.centre {
    margin: auto;

    padding: 10px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}