body, html {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

.mainHeader {
    width: 100%;
    height: 20%;
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 40px;
    display: inline-block;
}

.headerText {
   float: left;
    min-width: 40%;
    max-width: 40%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

h1 {
    color: black;
    text-align: center;
    overflow: hidden;
    margin: 0px;
}


p, li, h2,h4, a {
    font-family: verdana;
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
}

h2 {
    font-size: 30px;
}

#navBar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

h1::after, h1::before {
    background-color: rgb(0, 0, 0);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100px;
}

.bottomShadow {
    box-shadow: 0px 5px 5px grey;
    position: relative;
}

#myBackground {
    z-index: 9;
}

#education {
    z-index: 8;
}

#experience {
    z-index: 7;
}

#projects {
    z-index: 6;
}

#name{
    z-index: 11;
}

.article {
    position: relative;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

h1:before {
    right: 0.5em;
    margin-left: 0%;
}

h1:after {
    left: 0.5em;
    margin-right: 0%;
}

.backgroundYellow {
    background-color: #F3EFE0;
}

.backgroundWhite {
    background-color: white;
}

.backgroundGrey {
    background-color: grey;
}

.backgroundRed {
    background-color: #c7423f;
}

.fontRed {
    color: #c7423f;
}

.pageContent {
    max-width: 1200px;
    padding: 0px;
    position: relative;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pageSection {
    width: 100%;
    padding-top: 40px;
}

.snippet {
    display: inline-block;
    margin: 75px 75px;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
    border-bottom: 1px solid #edecee;
    
}

nav{
    min-width: auto;
}

.navList>li {
    display: inline-block;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.centre {
    margin: auto;
    padding: 10px;
}



a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.divCentre{
    height: fit-content;
    width: 100%;
    margin: auto;

}

.firstColumn {
    height:auto;
    min-width: 30%;
    max-width: 30%;

    display: flex;
}

.secondColumn {
    width: auto;
    margin-left: 5%;

}

.wrapper {
    overflow: hidden;
    display: flex;
}
